<!DOCTYPE html>
<html>
<title>SBAV</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div >
  <div class="w3-container w3-blue">
    <h2>SBAV</h2>
  </div>
  <form action='{%url "items_post"%}' method='POST' enctype="multipart/form-data" autocomplete="off">
  	{% csrf_token %}
    <p>      
    <label class="w3-text-blue"><b>ITEM NAME</b></label>
    <input class="w3-input w3-border" type="text" name="Item_Name" required>
	</p>
    <p>      
    <label class="w3-text-blue"><b>ITEMS IN STOCK</b></label>
    <input class="w3-input w3-border" type="number" name="Items_In_Stock" required>
	</p>
    <p>
    <p>      
    <label class="w3-text-blue"><b>ITEMS COST</b></label>
    <input class="w3-input w3-border" type="number" name="Item_Cost" required>
	</p>
	<center>
    <p>
    <button class="w3-btn w3-blue">SUBMIT</button> 
    <button class="w3-btn w3-blue"> <a href="{% url 'items_get'%}">SHOW ITEMS</button>
	</p><br>
	</center>
  </form>
</div>

</body>
</html>