<!DOCTYPE html>
<html>
<title>SBAV</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>

<div >
  <div class="w3-container w3-blue">
    <h2>SBAV <a href="{% url 'logout'%}"><i class="fa fa-sign-out" style="float:right;font-size:35px;color:white;"></i></a></h2>
  </div>
  <form action='/itemsedit/{{data.id}}/' method='POST'>
    {% csrf_token %}
    <p>      
    <label class="w3-text-blue"><b>ITEM NAME</b></label>
    <input class="w3-input w3-border" type="text" name="Item_Name" value='{{ data.Item_Name }}' required>
    </p>
    <p>      
    <label class="w3-text-blue"><b>ITEMS IN STOCK</b></label>
    <input class="w3-input w3-border"  type="number" name="Items_In_Stock" value='{{ data.Items_In_Stock }}' required>
    </p>
    <p>      
    <label class="w3-text-blue"><b>ITEMS OUT STOCK</b></label>
    <input class="w3-input w3-border" type="number" name="Items_Out_Stock" value='{{ data.Items_Out_Stock }}' required>
    </p>
    <p>      
    <label class="w3-text-blue"><b>ITEMS COST</b></label>
    <input class="w3-input w3-border" type="number" name="Item_Cost" value='{{ data.Item_Cost }}' required>
    </p>
    <center>
    <p>
    <button class="w3-btn w3-blue">UPDATE</button>
    <button class="w3-btn w3-blue"> <a href="{% url 'items_get'%}">SHOW ITEMS</a></button>
    <button class="w3-btn w3-blue"> <a href="{% url 'items_post'%}">ADD NEW ITEM</a></button>
    </p><br>
    </center>
  </form>
</div>

</body>
</html>